
/*4K Screen*/
@media only screen and (min-width : 2560px) {

    h3[b-95vydm8qqi] {
        font-size: 50px;
    }
    p[b-95vydm8qqi] {     
        font-size: 25px;
    }
    button[b-95vydm8qqi] {
        font-size: 25px;
    }
}
/*Larger Screen*/
@media only screen and (min-width : 1824px) {
    h3[b-95vydm8qqi] {
        font-size: 40px;
    }

    p[b-95vydm8qqi] {
        font-size: 13px;
    }
}
@media only screen and (min-width : 1224px) {
    h3[b-95vydm8qqi] {
        font-size: 30px;
    }

    p[b-95vydm8qqi] {
        font-size: 15px;
    }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {

    h3[b-95vydm8qqi] {
        font-size: 20px;
    }

    p[b-95vydm8qqi] {
        font-size: 15px;
    }
    button[b-95vydm8qqi] {
        font-size: 13px;
    }

}
/* Tablets (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {

    h3[b-95vydm8qqi] {
        font-size: 25px;
    }

    p[b-95vydm8qqi] {
        font-size: 15px;
    }

    button[b-95vydm8qqi] {
        font-size: 15px;
    }

}

