@page "/"

@inject HttpClient http;
@inject AuthenticationStateProvider authStateProvider

<img src="img/GoVote_Logo4_F.png" class="img" alt="Logo" height="90">

<p>Welcome to the official page for GoVote, the all in one election hosting service. Follow the cards below for the step by step process for creating an election, voting, and checking results.</p>

<AuthorizeView>
    <Authorized>
        @if (status)
        {
            <div class="alert alert-primary" role="alert">
                You have an ongoing election. Make sure to cast your vote <a href="/voting" class="alert-link">here!</a>
            </div>
        }
    </Authorized>
    <NotAuthorized>
    </NotAuthorized>
</AuthorizeView>

<div class="card-deck">
    <div class="card">
        <img class="card-img-top" src="css/open-iconic/svg/clipboard.svg" alt="Card image cap" width="150" height="150" style="padding: 10px; float: none;">
        <div class="card-body">
            <h5 class="card-title">Create an Election!</h5>
            <p class="card-text">Creating an election is easy with our basic setup. Simply fill in the required information and provide the csv file of eligible voters.</p>
        </div>
        <div class="card-footer">
            <a href="/electionmgmt" class="btn btn-primary stretched-link">Election Creation</a>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="css/open-iconic/svg/task.svg" alt="Card image cap" width="150" height="150" style="padding: 10px; float: none;">
        <div class="card-body">
            <h5 class="card-title">Cast Your Vote!</h5>
            <p class="card-text">Once voting opens be sure to visit back to cast your vote. Voting will require you to sign in with an eligible, registered account.</p>
        </div>
        <div class="card-footer">
            <a href="/voting" class="btn btn-primary stretched-link">Voting Page</a>
        </div>
    </div>
    <div class="card">
        <img class="card-img-top" src="css/open-iconic/svg/bar-chart.svg" alt="Card image cap" width="150" height="150" style="padding: 10px; float: none;">
        <div class="card-body">
            <h5 class="card-title">Get Results!</h5>
            <p class="card-text">Following the election make sure to check back for the election results.</p>
        </div>
        <div class="card-footer">
            <a href="/results" class="btn btn-primary stretched-link">Results Page</a>
        </div>
    </div>
</div>

@code
{
    private AuthenticationState authState;
    private bool status = false;

    protected override async Task OnInitializedAsync()
    {
        authState = await authStateProvider.GetAuthenticationStateAsync();
        if (authState.User.Identity.Name != null)
        {
            status = await http.GetFromJsonAsync<bool>($"api/Home/{authState.User.Identity.Name}");
        }
    }
}